__pycache__/
*.pyc
build/
dist/
*.spec
nyx.exe
compiler_stage*.c
compiler_stage*.exe
output.c
output_bin.exe
input_expr.nx
editor/vscode/cy-language/node_modules/
nyx-language/nyx.exe
nyx-language/nyx
